body {
	background-color: black;
	color: white;

	font-family: sans-serif;
}

#canvas {
	position: fixed;
	top: 0px; left: 0px;
	width: 100%; height: 100%;
}

#ui-div {
	position: fixed;
	top: 0px; left: 0px;
	width: 100%; height: 100%;

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

#no-script-div {
	display: flex;
	flex-grow: 1000;
	justify-content: center;
}

#simulation-interaction-div {
	height: 100%;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	flex-basis: content;

	background-color: white;
	color: black;
}

#simulation-interaction-options {
	flex-grow: 1000;

	padding-left: 1rem;
	padding-right: 1rem;
}

#launch-button-container {
	display: flex;
	align-items: center;
	justify-content: center;

	padding-bottom: 1rem;
}

.simulation-interaction-section {
	padding-top: 1rem;
	padding-bottom: 1rem;
	border-bottom: 1px solid black;
}

.simulation-interaction-section-title {
	margin-bottom: 0.5rem;

	font-weight: bold;
}

select {
	width: 100%;
}

#height-input-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

#height-input {
	width: 7ch;
	margin-right: 0.5rem;
}

.invalid-input {
	display: none;

	text-align: center;

	margin-top: 0.5rem;
	border: 1px solid red;

	color: red;
	font-weight: bold;
}

#velocity-container {
	margin-top: 0.5rem;
}

#velocity-input-container {
	margin-top: 0.25rem;
	text-align: center;
}

#vx-input, #vy-input {
	width: 7ch;
}

.subscript {
	vertical-align: sub;
	font-size: smaller;
}
.superscript {
	vertical-align: super;
	font-size: smaller;
}