html {
	--simulation-results-scale: 100%;
}

body {
	background-color: black;
	color: white;

	font-family: sans-serif;
}

@media (orientation: portrait) {
	body {
		margin: 0px;
	}

	body.no-scrolling {
		overflow: hidden;
	}
}

#canvas {
	width: 100%; height: 100%;
	z-index: -100;
}

@media (orientation: landscape) {
	#canvas {
		position: fixed;
		top: 0px; left: 0px;
	}
}

#ui-div {
	top: 0px; left: 0px;
	width: 100%;
}

@media (orientation: landscape) {
	#ui-div {
		position: fixed;
		height: 100%;

		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
	}
}

@media (orientation: portrait) {
	#ui-div {
		display: block;
	}
}

#no-script-div {
	position: relative;
	display: flex;
	height: 100vh;

	flex-grow: 1000;
	justify-content: center;
	align-items: center;
}

#choose-velocity-instructions-mouse, #choose-velocity-instructions-touch {
	display: block;
	position: absolute;
	left: 50%;
	top: 1rem;
	transform: translateX(-50%);

	text-align: center;

	background: black;
}

#scroll-down {
	display: block;
	position: absolute;
	left: 50%;
	bottom: 6rem;
	transform: translateX(-50%);

	text-align: center;

	background: black;

	transition: bottom 1s;
}

@media (orientation: landscape) {
	#scroll-down {
		display: none !important;
	}
}

#simulation-results {
	display: flex;
	flex-direction: column;
	position: absolute;

	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%) scale(var(--simulation-results-scale));
	-webkit-transform: translate(-50%, -50%) scale(var(--simulation-results-scale));
	image-rendering: crisp-edges;
	z-index: 100;

	align-items: center;
	justify-content: center;

	padding: 1rem;

	background-color: white;
	color: black;
	filter: none;
	border-radius: 0.5rem;

	pointer-events: all;
}

table, th, td {
	white-space: nowrap;

	font-size: 0.9rem;
	padding: 1rem;
}

td:not(:first-child) {
	text-align: center;
}

#simulation-results-ok-container {
	display: block;
	width: 100%;
	text-align: right;

	margin: 0.5rem 0px 0px 0px;
}

#simulation-results-ok {
	margin: 0px !important;
}

#simulation-interaction-div {
	height: 100%;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	flex-basis: content;

	overflow-x: hidden;
	overflow-y: auto;
	background-color: white;
	color: black;
}

#simulation-interaction-options {
	flex-grow: 1000;

	padding-top: 1rem;
	padding-left: 1rem;
	padding-right: 1rem;
}

#air-res-container {
	margin-top: 0.5rem;
}

#launch-button-container {
	display: flex;
	align-items: center;
	justify-content: center;

	padding-bottom: 1rem;
}

button {
	all: unset;

	padding: 0.5rem;
	margin: 0px 0.5rem;
	border-radius: 0.25rem;

	background-color: #d3d3d3;
	color: black;
	cursor: pointer;

	user-select: none;
}

button:hover {
	background-color: #bbbbbb;
}

button:disabled {
	background-color: #eeeeee;
	cursor: default;
}

.simulation-interaction-section {
	padding-bottom: 1rem;
	margin-bottom: 1rem;
	border-bottom: 1px solid black;
}

.simulation-interaction-section-title {
	margin-bottom: 0.5rem;

	font-weight: bold;
}

select {
	width: 100%;
}

#height-input-container, #mass-input-container, #radius-input-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;

	margin-bottom: 0.25rem;
}

#height-input, #mass-input, #radius-input {
	width: 7ch;
	margin-right: 0.5rem;
}

.unit-div {
	display: inline-block;
	width: 3ch;

	text-align: right;
}

.red {
	color: red;
}

#velocity-container {
	margin-top: 0.5rem;
}

#velocity-input-container {
	margin-top: 0.25rem;
	text-align: center;
}

#vx-input, #vy-input {
	width: 7ch;
}

#choose-screen-velocity-container {
	margin-top: 0.5rem;
	text-align: center;
}

.subscript {
	vertical-align: sub;
	font-size: smaller;
}
.superscript {
	vertical-align: super;
	font-size: smaller;
}

.bold {
	font-weight: bold;
}

.hidden:not(#simulation-results) {
	display: none !important;
}

#simulation-results.hidden {
	top:  -100000px;
	left: -100000px;
}

.blur {
	filter: blur(5px);
}

.no-interaction {
	pointer-events: none;
}